<%= render 'header'%>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Details</th>
    <th>Rating</th>
    <th>Added to some hotel?</th>
  <tr>
    <% @hotels.each do |hotel|%>
      <tr>
        <td><%= hotel.id %></td>
        <td><%= hotel.name %></td>
        <td><%= hotel.details %></td>
        <td><%= hotel.ratings %></td>
        <td><%= hotel.tours.present? %></td>
      </tr>
  <% end %>
</table>