<%= render 'header'%>
<h4>Upload Attractions</h4>
<%= form_tag(url_for(:action => :upload_attractions_csv), :multipart => true) do |f| %>
    <%= label_tag "Upload File Here."%>
    <%= file_field_tag :data_file %><br>
    <%= submit_tag 'Submit' %><br><br>
    Note:<br>
    Upload headers : ['name', 'city_name', 'price', 'start_time', 'end_time' , 'closed_on', 'other_details','rating', 'must_do']
<% end %>
<br><br>
